<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Node API</title>
    <base href="/">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
    <h1 class="title">Node API</h1>
    <div class="header-button">
        <a href="/ui/products" class="fake-button">Show all product</a>
        <a href="/" class="fake-button">...</a>
    </div>
    <script src="/js/script.js"></script>
</body>

</html>